<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OXCoder.DBModel.Properties.Settings.oxcoderdbConnectionString"
            connectionString="Data Source=172.31.34.190;Initial Catalog=oxcoderdb;User ID=oxcoder;Password=oxcoder001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>